// checkbox.scss
@import './tailwind'; // Importar tailwind (asegúrate de que esté configurado correctamente en tu proyecto)
@import './variables'; // Importar variables si es necesario
@import '../../globalvar';

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-left: 8px;
  color: $label-color; // Color del texto
}

.checkbox-input {
  @include checkbox-tailwind
}