// button.scss
@import './tailwind';
@import './variables'; // Importar variables

.makers-radio {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      display: flex;
      flex-wrap: wrap;
      border-color: $blue-outline;
      background: none;
}

.makers-radio-input {
  content: '';
  //visibility: hidden;
  position: absolute;
  right: 0;
}
