// textboxIcon.scss
@import './tailwind'; // Importar tailwind (asegúrate de que esté configurado correctamente en tu proyecto)
@import './variables'; // Importar variables si es necesario

.textboxIcon-container {
  position: relative;
  padding-top: 5px; //controla la linea
}


.textboxIcon-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $blue-outline; // Línea inferior blanca
  bottom: 0;
}

.textboxIcon {
  @include textboxIcon-tailwind; // Aplicar las clases de tailwind

  // Añadir estilos adicionales si es necesario
  border: none; // Quitar el borde
  border-radius: 2; // Quitar el redondeo de la esquina superior izquierda y derecha
  box-shadow: none; // Quitar cualquier sombra
  outline: none; // Quitar el enfoque del marco al hacer clic
  margin-left: 28px;
}

.textboxIcon-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 12px;
  margin-top: 24px;
  margin-left: 20px;
  color: $label-color; // Color del texto
  pointer-events: none; // Evitar que la etiqueta interfiera con los eventos de entrada
  transition: top 0.3s, font-size 0.3s, color 0.3s; // Transiciones suaves
}

.textboxIcon:focus ~ .textboxIcon-label,
.textboxIcon:not(:placeholder-shown) ~ .textboxIcon-label {
  top: -20px; // Mover la etiqueta hacia arriba al enfocar o cuando hay texto en el textbox
  font-size: 0.75rem; // Tamaño de fuente más pequeño cuando se mueve hacia arriba
  color: $label-color; // Cambiar color de la etiqueta en enfoque
}

.textbox-icon
{   

position: absolute;   
top:35px;

// Centrar verticalmente el icono
left:0px;
padding: 0 12px;

pointer-events: none;

// Espacio a la izquierda del input
transform:translateY(-50%);
// Centrar verticalmente el icono
}