// button.scss
@import './tailwind';
@import './variables'; // Importar variables

.mak-btn {
  @include btn-tailwind-desktop;
  background-color: $button-bg; // Fondo blanco
  color: $button-text; // Color de texto aplicado desde variables.scss
  font-family: 'Montserrat Alternates', sans-serif; // Fuente específica para el botón
  border-width: 2px; // Ancho del borde
  border-style: solid; // Estilo del borde
  border-radius: 0; // Esquinas cuadradas
}

.mak-btn--primary {
  background: transparent linear-gradient(180deg, $button-bg 0%, rgba($button-bg, 0.9) 100%) 0% 0% no-repeat padding-box; // Gradiente blanco sutil
  border-color: $blue-outline; // Contorno azul fijo
  box-shadow: -5px -5px 15px rgba($button-bg, 0.2); // Sombra suave
}

.mak-btn--primary:hover {
  background: transparent linear-gradient(180deg, $button-bg 0%, rgba($button-bg, 0.95) 100%) 0% 0% no-repeat padding-box; // Gradiente blanco más claro en hover
  box-shadow: 0px 0px 16px $blue-outline; // Sombra más intensa con contorno azul en hover
}

.mak-btn--secondary {
  background: $button-bg; // Fondo blanco
  color: $button-text; // Color de texto aplicado desde variables.scss
  border-color: $blue-outline; // Contorno azul fijo
  box-shadow: 2px 2px 5px rgba($button-bg, 0.2); // Sombra suave
}

.mak-btn--secondary:hover {
  background: transparent linear-gradient(180deg, $button-bg 0%, rgba($button-bg, 0.95) 100%) 0% 0% no-repeat padding-box; // Gradiente blanco más claro en hover
  box-shadow: 5px 5px 15px rgba($button-bg, 0.3); // Sombra más intensa con contorno azul en hover
  border-color: $blue-outline; // Contorno azul en hover
}

.mak-btn--third {
  color: $button-text; // Color de texto aplicado desde variables.scss
  text-decoration: underline; // Subrayado para el botón terciario
}

