//Colors
$red-dark: #C40311;
$red-light: #FA1E2D;
$red-main: #ED1C29;
$black: #3D4657;
$white: #FFFFFF;
$vinotinto: #ED1C2985;
$grey: #9e9e9e;
$purple: #2D3079;
$blue-violet: blueviolet;

 
//Text Color
$primary-text-color: $black;
$secondary-text-color: $red-main;
$third-text-color: $white;

//Bg-Colors
$primary: $white;
$secondary: $grey;
$tertiary : $purple;

//Screen
$mobile-screen: 366px;
$desktop-screen: 1080px;
//nuevas
// Additional variables for button
$blue-outline: #2D3079;
$button-bg: $white; // Use global white
$button-text: $black; // Use global black

// _variables.scss




